<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1><%=

   @team_name = params[:team_name]
   @coach = params[:coach]
   @point_guard = params[:point_guard]
   @shooting_guard = params[:shooting_guard]
   @power_forward = params[:power_forward]
   @small_forward = params[:small_forward]
   @center = params[:center]

 </body>
</html>
